In [1]:
! mkdir /root/.kaggle
! cp /content/kaggle.json /root/.kaggle
! chmod 600 /root/.kaggle/kaggle.json

In [2]:
! kaggle datasets download -d rajanand/crime-in-india

Downloading crime-in-india.zip to /content
  0% 0.00/4.39M [00:00<?, ?B/s]
100% 4.39M/4.39M [00:00<00:00, 182MB/s]

In [3]:
! mkdir crime-dataset

In [4]:
! unzip crime-in-india.zip -d /content/crime-dataset

Archive:  crime-in-india.zip
  inflating: /content/crime-dataset/10_Property_stolen_and_recovered.csv
  inflating: /content/crime-dataset/20_Victims_of_rape.csv
  inflating: /content/crime-dataset/25_Complaints_against_police.csv
  inflating: /content/crime-dataset/28_Trial_of_violent_crimes_by_courts.csv
  inflating: /content/crime-dataset/29_Period_of_trials_by_courts.csv
  inflating: /content/crime-dataset/30_Auto_theft.csv
  inflating: /content/crime-dataset/31_Serious_fraud.csv
  inflating: /content/crime-dataset/32_Murder_victim_age_sex.csv
  inflating: /content/crime-dataset/33_CH_not_murder_victim_age_sex.csv
  inflating: /content/crime-dataset/35_Human_rights_violation_by_police.csv
  inflating: /content/crime-dataset/36_Police_housing.csv
  inflating: /content/crime-dataset/39_Specific_purpose_of_kidnapping_and_abduction.csv
  inflating: /content/crime-dataset/40_01_Custodial_death_person_remanded.csv
  inflating: /content/crime-dataset/40_02_Custodial_death_person_not_remanded.csv
  inflating: /content/crime-dataset/40_03_Custodial_death_during_production.csv
  inflating: /content/crime-dataset/40_04_Custodial_death_during_hospitalization_or_treatment.csv
  inflating: /content/crime-dataset/40_05_Custodial_death_others.csv
  inflating: /content/crime-dataset/42_Cases_under_crime_against_women.csv
  inflating: /content/crime-dataset/43_Arrests_under_crime_against_women.csv
  inflating: /content/crime-dataset/crime/01_District_wise_crimes_committed_IPC_2001_2012.csv
  inflating: /content/crime-dataset/crime/01_District_wise_crimes_committed_IPC_2013.csv
  inflating: /content/crime-dataset/crime/01_District_wise_crimes_committed_IPC_2014.csv
  inflating: /content/crime-dataset/crime/02_01_District_wise_crimes_committed_against_SC_2001_2012.csv
  inflating: /content/crime-dataset/crime/02_01_District_wise_crimes_committed_against_SC_2013.csv
  inflating: /content/crime-dataset/crime/02_01_District_wise_crimes_committed_against_SC_2014.csv
  inflating: /content/crime-dataset/crime/02_District_wise_crimes_committed_against_ST_2001_2012.csv
  inflating: /content/crime-dataset/crime/02_District_wise_crimes_committed_against_ST_2013.csv
  inflating: /content/crime-dataset/crime/02_District_wise_crimes_committed_against_ST_2014.csv
  inflating: /content/crime-dataset/crime/03_District_wise_crimes_committed_against_children_2001_2012.csv
  inflating: /content/crime-dataset/crime/03_District_wise_crimes_committed_against_children_2013.csv
  inflating: /content/crime-dataset/crime/03_Persons_arrested_and_their_disposal_by_police_and_court_under_crime_against_children_2012.csv
  inflating: /content/crime-dataset/crime/03_Persons_arrested_and_their_disposal_by_police_and_court_under_crime_against_children_2013.csv
  inflating: /content/crime-dataset/crime/03_Persons_arrested_and_their_disposal_by_police_and_court_under_crime_against_children_2014.csv
  inflating: /content/crime-dataset/crime/04_01_Person_arrested_and_their_disposal_by_police_and_court_SLL_crime_2012.csv
  inflating: /content/crime-dataset/crime/04_01_Person_arrested_and_their_disposal_by_police_and_court_SLL_crime_2013.csv
  inflating: /content/crime-dataset/crime/04_01_Person_arrested_and_their_disposal_by_police_and_court_SLL_crime_2014.csv
  inflating: /content/crime-dataset/crime/04_02_Person_arrested_and_their_disposal_by_police_and_court_IPC_crime_2012.csv
  inflating: /content/crime-dataset/crime/04_02_Person_arrested_and_their_disposal_by_police_and_court_IPC_crime_2013.csv
  inflating: /content/crime-dataset/crime/04_02_Person_arrested_and_their_disposal_by_police_and_court_IPC_crime_2014.csv
  inflating: /content/crime-dataset/crime/07_01_Persons_arrested_by_sex_and_age_group_IPC_2012.csv
  inflating: /content/crime-dataset/crime/07_01_Persons_arrested_by_sex_and_age_group_IPC_2013.csv
  inflating: /content/crime-dataset/crime/07_01_Persons_arrested_by_sex_and_age_group_IPC_2014.csv
  inflating: /content/crime-dataset/crime/07_02_Persons_arrested_by_sex_and_age_group_SLL_2012.csv
  inflating: /content/crime-dataset/crime/07_02_Persons_arrested_by_sex_and_age_group_SLL_2013.csv
  inflating: /content/crime-dataset/crime/07_02_Persons_arrested_by_sex_and_age_group_SLL_2014.csv
  inflating: /content/crime-dataset/crime/08_01_Juvenile_apprehended_state_IPC.csv
  inflating: /content/crime-dataset/crime/08_02_Juvenile_apprehended_state_SLL.csv
  inflating: /content/crime-dataset/crime/09_Juveniles_arrested_and_their_disposal.csv
  inflating: /content/crime-dataset/crime/11_Property_stolen_and_recovered_nature_of_property.csv
  inflating: /content/crime-dataset/crime/12_Police_strength_actual_and_sanctioned.csv
  inflating: /content/crime-dataset/crime/13_Police_killed_or_injured_on_duty.csv
  inflating: /content/crime-dataset/crime/14_Age_profile_of_police_personnel_killed_on_duty.csv
  inflating: /content/crime-dataset/crime/15_Police_natural_death_and_suicide.csv
  inflating: /content/crime-dataset/crime/16_Casualties_under_police_firing_and_lathi_charge.csv
  inflating: /content/crime-dataset/crime/17_Case_reported_and_value_of_property_taken_away_by_place_of_occurrence_2001_2012.csv
  inflating: /content/crime-dataset/crime/17_Case_reported_and_value_of_property_taken_away_by_place_of_occurrence_2013.csv
  inflating: /content/crime-dataset/crime/17_Crime_by_place_of_occurrence_2001_2012.csv
  inflating: /content/crime-dataset/crime/17_Crime_by_place_of_occurrence_2013.csv
  inflating: /content/crime-dataset/crime/17_Crime_by_place_of_occurrence_2014.csv
  inflating: /content/crime-dataset/crime/18_01_Juveniles_arrested_Education.csv
  inflating: /content/crime-dataset/crime/18_02_Juveniles_arrested_Economic_setup.csv
  inflating: /content/crime-dataset/crime/18_03_Juveniles_arrested_Family_background.csv
  inflating: /content/crime-dataset/crime/18_04_Juveniles_arrested_Recidivism.csv
  inflating: /content/crime-dataset/crime/19_Motive_or_cause_of_murder_and_culpable_homicide_not_amounting_to_murder.csv
  inflating: /content/crime-dataset/crime/21_Offenders_known_to_the_victim.csv
  inflating: /content/crime-dataset/crime/22_Persons_arrested_under_recidivism.csv
  inflating: /content/crime-dataset/crime/23_Anti_corruprion_cases.csv
  inflating: /content/crime-dataset/crime/24_Anti_corruption_arrests.csv
  inflating: /content/crime-dataset/crime/27_Nature_of_complaints_received_by_police.csv
  inflating: /content/crime-dataset/crime/34_Use_of_fire_arms_in_murder_cases.csv
  inflating: /content/crime-dataset/crime/37_Home_guards_and_auxilliary_force.csv
  inflating: /content/crime-dataset/crime/38_Unidentified_dead_bodies_recovered_and_inquest_conducted.csv
  inflating: /content/crime-dataset/crime/41_Escapes_from_police_custody.csv
  inflating: /content/crime-dataset/crime/42_District_wise_crimes_committed_against_women_2001_2012.csv
  inflating: /content/crime-dataset/crime/42_District_wise_crimes_committed_against_women_2013.csv
  inflating: /content/crime-dataset/crime/42_District_wise_crimes_committed_against_women_2014.csv
  inflating: /content/crime-dataset/crime/crime/01_District_wise_crimes_committed_IPC_2001_2012.csv
  inflating: /content/crime-dataset/crime/crime/01_District_wise_crimes_committed_IPC_2013.csv
  inflating: /content/crime-dataset/crime/crime/01_District_wise_crimes_committed_IPC_2014.csv
  inflating: /content/crime-dataset/crime/crime/02_01_District_wise_crimes_committed_against_SC_2001_2012.csv
  inflating: /content/crime-dataset/crime/crime/02_01_District_wise_crimes_committed_against_SC_2013.csv
  inflating: /content/crime-dataset/crime/crime/02_01_District_wise_crimes_committed_against_SC_2014.csv
  inflating: /content/crime-dataset/crime/crime/02_District_wise_crimes_committed_against_ST_2001_2012.csv
  inflating: /content/crime-dataset/crime/crime/02_District_wise_crimes_committed_against_ST_2013.csv
  inflating: /content/crime-dataset/crime/crime/02_District_wise_crimes_committed_against_ST_2014.csv
  inflating: /content/crime-dataset/crime/crime/03_District_wise_crimes_committed_against_children_2001_2012.csv
  inflating: /content/crime-dataset/crime/crime/03_District_wise_crimes_committed_against_children_2013.csv
  inflating: /content/crime-dataset/crime/crime/03_Persons_arrested_and_their_disposal_by_police_and_court_under_crime_against_children_2012.csv
  inflating: /content/crime-dataset/crime/crime/03_Persons_arrested_and_their_disposal_by_police_and_court_under_crime_against_children_2013.csv
  inflating: /content/crime-dataset/crime/crime/03_Persons_arrested_and_their_disposal_by_police_and_court_under_crime_against_children_2014.csv
  inflating: /content/crime-dataset/crime/crime/04_01_Person_arrested_and_their_disposal_by_police_and_court_SLL_crime_2012.csv
  inflating: /content/crime-dataset/crime/crime/04_01_Person_arrested_and_their_disposal_by_police_and_court_SLL_crime_2013.csv
  inflating: /content/crime-dataset/crime/crime/04_01_Person_arrested_and_their_disposal_by_police_and_court_SLL_crime_2014.csv
  inflating: /content/crime-dataset/crime/crime/04_02_Person_arrested_and_their_disposal_by_police_and_court_IPC_crime_2012.csv
  inflating: /content/crime-dataset/crime/crime/04_02_Person_arrested_and_their_disposal_by_police_and_court_IPC_crime_2013.csv
  inflating: /content/crime-dataset/crime/crime/04_02_Person_arrested_and_their_disposal_by_police_and_court_IPC_crime_2014.csv
  inflating: /content/crime-dataset/crime/crime/07_01_Persons_arrested_by_sex_and_age_group_IPC_2012.csv
  inflating: /content/crime-dataset/crime/crime/07_01_Persons_arrested_by_sex_and_age_group_IPC_2013.csv
  inflating: /content/crime-dataset/crime/crime/07_01_Persons_arrested_by_sex_and_age_group_IPC_2014.csv
  inflating: /content/crime-dataset/crime/crime/07_02_Persons_arrested_by_sex_and_age_group_SLL_2012.csv
  inflating: /content/crime-dataset/crime/crime/07_02_Persons_arrested_by_sex_and_age_group_SLL_2013.csv
  inflating: /content/crime-dataset/crime/crime/07_02_Persons_arrested_by_sex_and_age_group_SLL_2014.csv
  inflating: /content/crime-dataset/crime/crime/08_01_Juvenile_apprehended_state_IPC.csv
  inflating: /content/crime-dataset/crime/crime/08_02_Juvenile_apprehended_state_SLL.csv
  inflating: /content/crime-dataset/crime/crime/09_Juveniles_arrested_and_their_disposal.csv
  inflating: /content/crime-dataset/crime/crime/11_Property_stolen_and_recovered_nature_of_property.csv
  inflating: /content/crime-dataset/crime/crime/12_Police_strength_actual_and_sanctioned.csv
  inflating: /content/crime-dataset/crime/crime/13_Police_killed_or_injured_on_duty.csv
  inflating: /content/crime-dataset/crime/crime/14_Age_profile_of_police_personnel_killed_on_duty.csv
  inflating: /content/crime-dataset/crime/crime/15_Police_natural_death_and_suicide.csv
  inflating: /content/crime-dataset/crime/crime/16_Casualties_under_police_firing_and_lathi_charge.csv
  inflating: /content/crime-dataset/crime/crime/17_Case_reported_and_value_of_property_taken_away_by_place_of_occurrence_2001_2012.csv
  inflating: /content/crime-dataset/crime/crime/17_Case_reported_and_value_of_property_taken_away_by_place_of_occurrence_2013.csv
  inflating: /content/crime-dataset/crime/crime/17_Crime_by_place_of_occurrence_2001_2012.csv
  inflating: /content/crime-dataset/crime/crime/17_Crime_by_place_of_occurrence_2013.csv
  inflating: /content/crime-dataset/crime/crime/17_Crime_by_place_of_occurrence_2014.csv
  inflating: /content/crime-dataset/crime/crime/18_01_Juveniles_arrested_Education.csv
  inflating: /content/crime-dataset/crime/crime/18_02_Juveniles_arrested_Economic_setup.csv
  inflating: /content/crime-dataset/crime/crime/18_03_Juveniles_arrested_Family_background.csv
  inflating: /content/crime-dataset/crime/crime/18_04_Juveniles_arrested_Recidivism.csv
  inflating: /content/crime-dataset/crime/crime/19_Motive_or_cause_of_murder_and_culpable_homicide_not_amounting_to_murder.csv
  inflating: /content/crime-dataset/crime/crime/21_Offenders_known_to_the_victim.csv
  inflating: /content/crime-dataset/crime/crime/22_Persons_arrested_under_recidivism.csv
  inflating: /content/crime-dataset/crime/crime/23_Anti_corruprion_cases.csv
  inflating: /content/crime-dataset/crime/crime/24_Anti_corruption_arrests.csv
  inflating: /content/crime-dataset/crime/crime/27_Nature_of_complaints_received_by_police.csv
  inflating: /content/crime-dataset/crime/crime/34_Use_of_fire_arms_in_murder_cases.csv
  inflating: /content/crime-dataset/crime/crime/37_Home_guards_and_auxilliary_force.csv
  inflating: /content/crime-dataset/crime/crime/38_Unidentified_dead_bodies_recovered_and_inquest_conducted.csv
  inflating: /content/crime-dataset/crime/crime/41_Escapes_from_police_custody.csv
  inflating: /content/crime-dataset/crime/crime/42_District_wise_crimes_committed_against_women_2001_2012.csv
  inflating: /content/crime-dataset/crime/crime/42_District_wise_crimes_committed_against_women_2013.csv
  inflating: /content/crime-dataset/crime/crime/42_District_wise_crimes_committed_against_women_2014.csv

In [5]:
import pandas as pd
import numpy as np

In [6]:
crime2001dataset = pd.read_csv('/content/crime-dataset/10_Property_stolen_and_recovered.csv')
crime2001dataset

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
0,Andaman & Nicobar Islands,2001,Burglary - Property,3. Burglary,27,64,755858,1321961
1,Andhra Pradesh,2001,Burglary - Property,3. Burglary,3321,7134,51483437,147019348
2,Arunachal Pradesh,2001,Burglary - Property,3. Burglary,66,248,825115,4931904
3,Assam,2001,Burglary - Property,3. Burglary,539,2423,3722850,21466955
4,Bihar,2001,Burglary - Property,3. Burglary,367,3231,2327135,17023937
...,...,...,...,...,...,...,...,...
2444,Tamil Nadu,2010,Total Property,7. Total Property Stolen & Recovered,16125,21509,660311804,1317919190
2445,Tripura,2010,Total Property,7. Total Property Stolen & Recovered,192,879,5666102,33032746
2446,Uttar Pradesh,2010,Total Property,7. Total Property Stolen & Recovered,9130,35068,577591772,1442670414
2447,Uttarakhand,2010,Total Property,7. Total Property Stolen & Recovered,964,2234,47135685,123398840
2448,West Bengal,2010,Total Property,7. Total Property Stolen & Recovered,4548,23759,1168242161,5015168687

In [7]:
print(len(crime2001dataset['Area_Name'].unique()))

ds = crime2001dataset[crime2001dataset['Group_Name'] == 'Total Property']
ds = ds[ds['Year'] == 2001]
print(len(ds['Area_Name']))
ds

35
35

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
2100,Andaman & Nicobar Islands,2001,Total Property,7. Total Property Stolen & Recovered,54,143,1192179,3184477
2101,Andhra Pradesh,2001,Total Property,7. Total Property Stolen & Recovered,13418,25070,186103403,476038316
2102,Arunachal Pradesh,2001,Total Property,7. Total Property Stolen & Recovered,300,858,9652850,58483056
2103,Assam,2001,Total Property,7. Total Property Stolen & Recovered,2149,9778,24989343,121602215
2104,Bihar,2001,Total Property,7. Total Property Stolen & Recovered,3357,18503,47713186,422706220
2105,Chandigarh,2001,Total Property,7. Total Property Stolen & Recovered,714,1948,21114612,49527109
2106,Chhattisgarh,2001,Total Property,7. Total Property Stolen & Recovered,3298,9894,37331973,112242456
2107,Dadra & Nagar Haveli,2001,Total Property,7. Total Property Stolen & Recovered,43,106,5314436,11604547
2108,Daman & Diu,2001,Total Property,7. Total Property Stolen & Recovered,21,94,2323494,14151158
2109,Delhi,2001,Total Property,7. Total Property Stolen & Recovered,5893,25170,218254594,2127553393
2110,Goa,2001,Total Property,7. Total Property Stolen & Recovered,289,1004,9521526,239891783
2111,Gujarat,2001,Total Property,7. Total Property Stolen & Recovered,7385,24410,227693256,1149816876
2112,Haryana,2001,Total Property,7. Total Property Stolen & Recovered,5103,10536,257829983,404891438
2113,Himachal Pradesh,2001,Total Property,7. Total Property Stolen & Recovered,367,1573,24625652,59011695
2114,Jammu & Kashmir,2001,Total Property,7. Total Property Stolen & Recovered,833,3531,33575768,100502822
2115,Jharkhand,2001,Total Property,7. Total Property Stolen & Recovered,1411,5764,14052425,126668437
2116,Karnataka,2001,Total Property,7. Total Property Stolen & Recovered,6652,21039,218531303,583882867
2117,Kerala,2001,Total Property,7. Total Property Stolen & Recovered,3320,10442,99493533,433136856
2118,Lakshadweep,2001,Total Property,7. Total Property Stolen & Recovered,5,12,35400,109290
2119,Madhya Pradesh,2001,Total Property,7. Total Property Stolen & Recovered,11779,37554,203882247,501301044
2120,Maharashtra,2001,Total Property,7. Total Property Stolen & Recovered,20787,60173,856697065,4001169316
2121,Manipur,2001,Total Property,7. Total Property Stolen & Recovered,47,455,3658556,31017310
2122,Meghalaya,2001,Total Property,7. Total Property Stolen & Recovered,191,713,3662712,13868800
2123,Mizoram,2001,Total Property,7. Total Property Stolen & Recovered,866,1516,10038622,18857452
2124,Nagaland,2001,Total Property,7. Total Property Stolen & Recovered,120,463,6805838,81016077
2125,Odisha,2001,Total Property,7. Total Property Stolen & Recovered,5068,10167,52527851,220741872
2126,Puducherry,2001,Total Property,7. Total Property Stolen & Recovered,303,651,4421759,10439367
2127,Punjab,2001,Total Property,7. Total Property Stolen & Recovered,3045,5950,225006524,465830826
2128,Rajasthan,2001,Total Property,7. Total Property Stolen & Recovered,7854,25326,358218186,582726219
2129,Sikkim,2001,Total Property,7. Total Property Stolen & Recovered,40,129,1158845,3351263
2130,Tamil Nadu,2001,Total Property,7. Total Property Stolen & Recovered,17295,24606,333439558,735013778
2131,Tripura,2001,Total Property,7. Total Property Stolen & Recovered,130,579,724170,13759600
2132,Uttar Pradesh,2001,Total Property,7. Total Property Stolen & Recovered,9376,36711,846220887,1485857593
2133,Uttarakhand,2001,Total Property,7. Total Property Stolen & Recovered,549,2346,15855404,84480844
2134,West Bengal,2001,Total Property,7. Total Property Stolen & Recovered,4359,18204,111594745,427887883

In [8]:
ds = pd.DataFrame(index=crime2001dataset['Area_Name'].unique())
ds

Empty DataFrame
Columns: []
Index: [Andaman & Nicobar Islands, Andhra Pradesh, Arunachal Pradesh, Assam, Bihar, Chandigarh, Chhattisgarh, Dadra & Nagar Haveli, Daman & Diu, Delhi, Goa, Gujarat, Haryana, Himachal Pradesh, Jammu & Kashmir, Jharkhand, Karnataka, Kerala, Lakshadweep, Madhya Pradesh, Maharashtra, Manipur, Meghalaya, Mizoram, Nagaland, Odisha, Puducherry, Punjab, Rajasthan, Sikkim, Tamil Nadu, Tripura, Uttar Pradesh, Uttarakhand, West Bengal]

In [9]:
ds = pd.read_csv('/content/crime-dataset/35_Human_rights_violation_by_police.csv')

ds = ds[ds['Group_Name'] == 'HR_Total Violations by Police']
ds = ds[ds['Year'] == 2001]
print(len(ds['Area_Name']))

ds = ds.set_index('Area_Name')

23

In [10]:
def add_columns_to_dataset(dataset, ds):
  for col in ds.columns:
    dataset[col] = ds[col]
    # print(col)
    # print(ds[col])
    # print(dataset)
    # input()
  # print(dataset)
  return dataset

def group_dataset(ds, group_name, total_label, year_col, year_label):
  ds = ds[ds[group_name] == total_label]
  ds = ds[ds[year_col] == year_label]

  return ds

def create_cols_list(ds, forbidden_list):
  col_list = list(ds.columns)
  col_list = [x for x in col_list if x not in forbidden_list]
  return col_list

def process_dataset(data_path, dataset, area_name, group_name, total_label, year_col, year_label, forbidden_column_list):
  ds = pd.read_csv(data_path)
  ds = group_dataset(ds, group_name, total_label, year_col, year_label)
  ds[area_name] = np.array(list(map(lambda x: x.lower(), ds[area_name])))
  ds = ds.set_index(area_name)
  cols_list = create_cols_list(ds, forbidden_column_list)
  cols = ds[cols_list]
  dataset = add_columns_to_dataset(dataset, cols)

  return dataset

## 2001

In [11]:
dataset = pd.DataFrame(index=np.array(list(map(lambda x: x.lower(), crime2001dataset['Area_Name'].unique()))))
data_path = '/content/crime-dataset/10_Property_stolen_and_recovered.csv'
data_path_2 = '/content/crime-dataset/35_Human_rights_violation_by_police.csv'
forbidden_list = ['Area_Name', 'Year', 'Group_Name', 'Sub_Group_Name', 'STATE/UT', 'DISTRICT', 'YEAR']
dataset = process_dataset(data_path, dataset, 'Area_Name', 'Group_Name', 'Total Property', 'Year', 2001, forbidden_list)
dataset = process_dataset(data_path_2, dataset, 'Area_Name', 'Group_Name', 'HR_Total Violations by Police', 'Year', 2001, forbidden_list)

In [12]:
data_path_3 = '/content/crime-dataset/crime/01_District_wise_crimes_committed_IPC_2001_2012.csv'
dataset = process_dataset(data_path_3, dataset, 'STATE/UT', 'DISTRICT' ,'TOTAL', 'YEAR', 2001, forbidden_list)

In [13]:
data_path_4 = '/content/crime-dataset/crime/02_01_District_wise_crimes_committed_against_SC_2001_2012.csv'
dataset = process_dataset(data_path_4, dataset, 'STATE/UT', 'DISTRICT' ,'TOTAL', 'Year', 2001, forbidden_list)

In [14]:
data_path_5 = '/content/crime-dataset/crime/13_Police_killed_or_injured_on_duty.csv'
dataset = process_dataset(data_path_5, dataset, 'Area_Name', 'Group_Name', 'Police - Total', 'Year', 2001, forbidden_list)

In [15]:
dataset

,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen,Cases_Registered_under_Human_Rights_Violations,Policemen_Chargesheeted,Policemen_Convicted,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,...,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_On_Border_Duties,Police_Injured_Total_Policemen,Police_Killed_By_Criminals,Police_Killed_By_Riotous_Mobs,Police_Killed_In_Accidents,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_On_Border_Duties,Police_Killed_Total_Policemen
andaman & nicobar islands,54,143,1192179,3184477,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
andhra pradesh,13418,25070,186103403,476038316,45.0,29.0,2.0,2602.0,1555.0,136.0,...,45,0,286,0,1,34,4,31,0,70
arunachal pradesh,300,858,9652850,58483056,11.0,6.0,0.0,83.0,53.0,3.0,...,0,0,7,0,0,1,0,0,0,1
assam,2149,9778,24989343,121602215,35.0,0.0,0.0,1356.0,481.0,40.0,...,41,0,54,4,0,5,12,13,0,34
bihar,3357,18503,47713186,422706220,0.0,0.0,0.0,3643.0,3419.0,250.0,...,18,0,40,2,1,0,1,10,0,14
chandigarh,714,1948,21114612,49527109,1.0,0.0,0.0,15.0,10.0,6.0,...,0,0,17,0,0,3,0,0,0,3
chhattisgarh,3298,9894,37331973,112242456,0.0,0.0,0.0,880.0,529.0,45.0,...,15,0,19,0,0,11,0,8,0,19
dadra & nagar haveli,43,106,5314436,11604547,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
daman & diu,21,94,2323494,14151158,NaN,NaN,NaN,7.0,5.0,0.0,...,0,0,0,0,0,0,0,0,0,0
delhi,5893,25170,218254594,2127553393,6.0,4.0,NaN,NaN,NaN,NaN,...,13,1,240,3,0,45,0,6,0,54
goa,289,1004,9521526,239891783,NaN,NaN,NaN,36.0,30.0,5.0,...,0,0,8,0,0,1,0,0,0,1
gujarat,7385,24410,227693256,1149816876,12.0,8.0,0.0,1226.0,537.0,94.0,...,0,1,89,5,0,33,0,0,0,38
haryana,5103,10536,257829983,404891438,6.0,5.0,0.0,781.0,467.0,78.0,...,0,0,26,1,0,15,0,0,0,16
himachal pradesh,367,1573,24625652,59011695,0.0,0.0,0.0,119.0,75.0,11.0,...,0,0,19,0,0,2,0,0,0,2
jammu & kashmir,833,3531,33575768,100502822,0.0,0.0,0.0,1075.0,1474.0,33.0,...,281,0,382,9,0,12,0,129,0,150
jharkhand,1411,5764,14052425,126668437,1.0,1.0,0.0,1507.0,866.0,143.0,...,33,0,42,14,1,5,2,22,0,44
karnataka,6652,21039,218531303,583882867,15.0,5.0,0.0,1626.0,1475.0,74.0,...,0,5,226,1,1,11,1,0,0,14
kerala,3320,10442,99493533,433136856,NaN,NaN,NaN,472.0,615.0,111.0,...,0,0,377,0,0,3,1,0,0,4
lakshadweep,5,12,35400,109290,NaN,NaN,NaN,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
madhya pradesh,11779,37554,203882247,501301044,4.0,4.0,NaN,2425.0,2870.0,125.0,...,0,0,153,2,0,8,0,0,0,10
maharashtra,20787,60173,856697065,4001169316,13.0,8.0,0.0,2839.0,1454.0,101.0,...,0,0,681,4,1,63,0,1,0,69
manipur,47,455,3658556,31017310,NaN,NaN,NaN,209.0,168.0,5.0,...,1,0,6,0,0,2,1,1,0,4
meghalaya,191,713,3662712,13868800,0.0,0.0,0.0,164.0,47.0,2.0,...,0,0,6,6,0,0,7,1,0,14
mizoram,866,1516,10038622,18857452,NaN,NaN,NaN,31.0,15.0,5.0,...,0,0,0,0,0,0,0,0,0,0
nagaland,120,463,6805838,81016077,0.0,0.0,0.0,101.0,39.0,9.0,...,0,0,0,0,0,0,0,0,0,0
odisha,5068,10167,52527851,220741872,3.0,4.0,0.0,987.0,1151.0,53.0,...,19,0,75,0,0,5,0,6,0,11
puducherry,303,651,4421759,10439367,NaN,NaN,NaN,25.0,32.0,1.0,...,0,0,15,0,0,0,0,0,0,0
punjab,3045,5950,225006524,465830826,11.0,5.0,NaN,738.0,789.0,80.0,...,0,0,6,8,0,87,0,0,0,95
rajasthan,7854,25326,358218186,582726219,4.0,3.0,NaN,1259.0,1923.0,63.0,...,0,0,210,0,0,26,0,0,0,26
sikkim,40,129,1158845,3351263,NaN,NaN,NaN,19.0,11.0,7.0,...,0,0,2,0,0,2,0,0,0,2
tamil nadu,17295,24606,333439558,735013778,NaN,NaN,NaN,1662.0,2204.0,19.0,...,0,0,270,0,1,32,0,1,0,34
tripura,130,579,724170,13759600,NaN,NaN,NaN,240.0,25.0,0.0,...,18,0,20,0,0,1,0,16,0,17
uttar pradesh,9376,36711,846220887,1485857593,15.0,53.0,NaN,7601.0,7964.0,1186.0,...,1,0,220,17,0,34,6,0,0,57
uttarakhand,549,2346,15855404,84480844,1.0,NaN,NaN,316.0,279.0,38.0,...,0,0,5,0,0,7,0,0,0,7
west bengal,4359,18204,111594745,427887883,0.0,0.0,0.0,1594.0,449.0,581.0,...,0,0,435,3,1,14,0,0,0,18

In [18]:
dataset.columns

Index(['Cases_Property_Recovered', 'Cases_Property_Stolen',
       'Value_of_Property_Recovered', 'Value_of_Property_Stolen',
       'Cases_Registered_under_Human_Rights_Violations',
       'Policemen_Chargesheeted', 'Policemen_Convicted', 'MURDER',
       'ATTEMPT TO MURDER', 'CULPABLE HOMICIDE NOT AMOUNTING TO MURDER',
       'RAPE', 'CUSTODIAL RAPE', 'OTHER RAPE', 'KIDNAPPING & ABDUCTION',
       'KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS',
       'KIDNAPPING AND ABDUCTION OF OTHERS', 'DACOITY',
       'PREPARATION AND ASSEMBLY FOR DACOITY', 'ROBBERY', 'BURGLARY', 'THEFT',
       'AUTO THEFT', 'OTHER THEFT', 'RIOTS', 'CRIMINAL BREACH OF TRUST',
       'CHEATING', 'COUNTERFIETING', 'ARSON', 'HURT/GREVIOUS HURT',
       'DOWRY DEATHS', 'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR HIS RELATIVES',
       'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES',
       'CAUSING DEATH BY NEGLIGENCE', 'OTHER IPC CRIMES', 'TOTAL IPC CRIMES',
       'Murder', 'Rape', 'Kidnapping and Abduction', 'Dacoity', 'Robbery',
       'Arson', 'Hurt', 'Prevention of atrocities (POA) Act',
       'Protection of Civil Rights (PCR) Act', 'Other Crimes Against SCs'],
      dtype='object')

In [16]:
dataset.corr()

,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen,Cases_Registered_under_Human_Rights_Violations,Policemen_Chargesheeted,Policemen_Convicted,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,...,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_On_Border_Duties,Police_Injured_Total_Policemen,Police_Killed_By_Criminals,Police_Killed_By_Riotous_Mobs,Police_Killed_In_Accidents,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_On_Border_Duties,Police_Killed_Total_Policemen
Cases_Property_Recovered,1.000000,0.919303,0.800981,0.751374,0.438883,0.459641,0.423870,0.586685,0.509641,0.272169,...,-0.073217,0.125195,0.721819,0.145286,0.556032,0.628475,0.037501,-0.052034,NaN,0.377165
Cases_Property_Stolen,0.919303,1.000000,0.865841,0.850998,0.304753,0.450837,0.208413,0.730048,0.632723,0.455973,...,-0.074692,0.182110,0.750940,0.290759,0.484965,0.611681,0.090216,-0.066211,NaN,0.378650
Value_of_Property_Recovered,0.800981,0.865841,1.000000,0.835464,0.251388,0.665279,0.075203,0.755167,0.703483,0.596826,...,-0.106947,0.104238,0.651640,0.453272,0.302308,0.689863,0.114907,-0.106478,NaN,0.418982
Value_of_Property_Stolen,0.751374,0.850998,0.835464,1.000000,0.175103,0.303679,-0.005075,0.538853,0.406813,0.321696,...,-0.085983,0.138711,0.720051,0.280487,0.350651,0.687564,-0.016123,-0.084849,NaN,0.401129
Cases_Registered_under_Human_Rights_Violations,0.438883,0.304753,0.251388,0.175103,1.000000,0.493239,0.717750,0.296279,0.150121,0.091860,...,-0.004367,0.138551,0.205471,0.023202,0.230971,0.307960,0.576830,0.019304,NaN,0.258406
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Police_Killed_In_Accidents,0.628475,0.611681,0.689863,0.687564,0.307960,0.327514,0.332121,0.394700,0.324300,0.247366,...,-0.007074,0.068824,0.485067,0.381773,0.241386,1.000000,-0.020913,0.002891,NaN,0.663533
Police_Killed_In_Dacoity_OperationsOther_raids,0.037501,0.090216,0.114907,-0.016123,0.576830,0.300865,0.189490,0.349790,0.264473,0.285637,...,0.067228,-0.026772,-0.003498,0.407545,0.028621,-0.020913,1.000000,0.050334,NaN,0.150787
Police_Killed_In_TerroristsExtremists_Operations,-0.052034,-0.066211,-0.106478,-0.084849,0.019304,-0.058610,0.148627,0.056294,0.072381,-0.056396,...,0.992708,-0.065113,0.290262,0.325276,0.051801,0.002891,0.050334,1.000000,NaN,0.732536
Police_Killed_On_Border_Duties,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Police_Killed_Total_Policemen,0.377165,0.378650,0.418982,0.401129,0.258406,0.245780,0.271213,0.387620,0.343484,0.214748,...,0.721564,-0.003736,0.529969,0.615701,0.216118,0.663533,0.150787,0.732536,NaN,1.000000

Warning: Total number of columns (61) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
# def find_args(dataset):
#   area_name = None
#   if 'STATE/UT' in dataset.keys():
#     area_name = 'STATE/UT'
#   elif 'Area_Name' in dataset.keys():
#     area_name = 'Area_Name'

#   group_name = None
#   if 'DISTRICT' in dataset.keys():
#     group_name = 'DISTRICT'
#   elif 'Group_Name' in dataset.keys():
#     group_name = 'Group_Name'

#   total_label = None
#   # if 'TOTAL'